.card-overlay
.card
  .header#card-header
    Escentric 02
  .content
    .left
      %img#card-image{src: '/images/perfume/molecule_01.jpg'}
    .right
      .card-triggers
        .trigger
          %img{src: '/images/icon_special.jpg'}
          Низкая цена
        .trigger
          %img{src: '/images/icon_original.jpg'}
          100% оригинал
        .trigger
          %img{src: '/images/icon_delivery.jpg'}
          Бесплатная доставка
      .ahtung-about
        Мы продаем только 100% оригинальную парфюмерию.
        Мы единственные, кто даст вам возможность вскрыть упаковку перед покупкой и убедиться в оригинальности аромата.


  .card-footer
    .price
      Цена:
      %br

      .price-value#card-price 100мл -  4 600 рублей
    .card-form
      .to-do
        Чтобы оформить заказ, оставьте свой номер телефона в форме ниже.
        Менеджер свяжется с вами в течение 5 минут

      .card-form-body
        %input{type: :text, placeholder: 'Номер телефона'}
        %button Купить
