.title
  Ароматы Escentric Molecules

.wrapper
  .perfume-list
    .perfume
      %img{src: '/images/perfume/molecule_01.jpg'}
      .name Molecule 01
      .price 100 мл: 3 670 рублей
      .buy Купить

    .perfume
      %img{src: '/images/perfume/molecule_02.jpg'}
      .name Molecule 02
      .price 100 мл: 4 350 рублей
      .buy Купить
    .perfume
      %img{src: '/images/perfume/molecule_03.jpg'}
      .name Molecule 03
      .price 100 мл: 4 690 рублей
      .buy Купить
    .perfume
      %img{src: '/images/perfume/escentric_01.jpg'}
      .name Escentric 01
      .price 100 мл: 3 350 рублей
      .buy Купить
    .perfume
      %img{src: '/images/perfume/escentric_02.jpg'}
      .name Escentric 02
      .price 100 мл: 4 680 рублей
      .buy Купить
    .perfume
      %img{src: '/images/perfume/escentric_03.jpg'}
      .name Escentric 03
      .price 100 мл: 4 270 рублей
      .buy Купить
    .perfume
      %img{src: '/images/perfume/kinski.jpg'}
      .name Kinski
      .price 100 мл: 5 190 рублей
      .buy Купить
    .perfume
      %img{src: '/images/perfume/mind.jpg'}
      .name The Beatiful Mind
      .price 100 мл: 6 290 рублей
      .buy Купить